<h3 class="post-type">
  <%- postType %>
  <% if (post.name) { %>
    <span class="post-name">(<%- post.name %>)</span>
  <% } %>
</h3>
<% if (winner) { %>
  <div class="winner <%- winner.party.name ? 'with-party' : 'without-party' %>" data-candidate-id="<%- winner.id %>">
    <h4 class="candidate-name"><%- winner.name %></h4>
    <% if (winner.party.name) { %>
      <div class="party" data-party-id="<%- winner.party.id %>"><%- winner.party.name %></div>
    <% } %>
    <% if (candidates.length == 1) { %>
      <div class="by-acclamation">by acclamation</div>
    <% } else { %>
      <div class="by-num-votes">by <span><%- formatInteger(winner.nVotes - candidates[1].nVotes) %></span> votes</div>
    <% } %>
  </div>
<% } else { %>
  <div class="no-winner">
    still no results
  </div>
<% } %>
<% if (candidates.length > 1) { %>
  <ul class="candidates">
    <% _.each(candidates, function(candidate) { %>
      <li class="candidate" data-candidate-id="<%- candidate.id %>">
        <h4 class="candidate-name"><%- candidate.name %></h4>
        <% if (candidate.party.name) { %>
          <div class="party" data-party-id="<%- candidate.party.id %>"><%- candidate.party.name %></div>
        <% } %>
        <% var percent = Math.round(1000 * candidate.nVotes / (post.nVotes || 1)) / 10; %>
        <div class="num-votes">
          <div class="bar" style="width:<%- percent %>%;"></div>
          <div class="text"><abbr title="<%- formatInteger(candidate.nVotes) %> votes"><%- percent %>%</abbr></div>
        </div>
      </li>
    <% }); %>
  </ul>
<% } %>
